:root{
    --bg: rgb(127, 158, 153);
}
*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body{
    background: url(../img/2.png);
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0 90%);
    height: 100vh;
    width: auto;
}
header{
    width: 100%;
}
header .menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    background: #ffffff40
}
header .menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-style: bold;
}
#inputForm {
    display: block;
    margin: 0 auto;
    width: 300px;
    background: rgb(18,137,144);
    background: linear-gradient(34deg, rgba(18,137,144,1) 26%, rgba(9,9,121,0.6783088235294117) 51%, rgba(27,117,138,1) 73%, rgba(25,157,120,1) 87%, rgba(0,212,255,1) 96%);
    padding: 50px;
    text-align: center;
}
#inputForm input[type="text"] {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}
#inputForm select {
    padding: 10px;
}
#inputForm button {
    padding: 12px 15px;
    margin-left: 10px;
    text-transform: uppercase;
    background-color: rgb(255, 0, 76);
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
#output {
    width: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border: 1px solid rgba(87, 87, 88, 0.192);
    opacity: 1;
}
#output span {
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(238, 138, 15);
    border-bottom: 2px solid;
    opacity: 0;
}
#output p {
    margin-left: 20px;
    color: #333;
}
.algo {
    width: 400px;
    margin: 0 auto;
    padding-top: 100px;
}